In [2]:
import pandas as pd
from os import listdir

In [6]:
all_csv = listdir("csv")

In [57]:
headers = ["trading_code", "date", "openning_price", "high", "low", "closing_price", "volume"]
def make_dataframe(file):
    df = pd.read_csv(file, names=headers)
    return df

In [58]:
dic = {}
for n, csv in enumerate(all_csv):
    dic[n] = make_dataframe(csv)

In [69]:
combined_df = pd.concat([dic[i] for i in range(len(dic))])

In [74]:
combined_df.head()

  trading_code        date openning_price  high   low  closing_price volume
0      1STBSRS  01-01-2004           91.0  91.0  91.0           91.0      0
1      1STBSRS  04-01-2004           91.0  91.0  91.0           91.0      0
2      1STBSRS  05-01-2004           90.0  90.0  90.0           90.0      0
3      1STBSRS  06-01-2004           90.0  90.0  90.0           90.0      0
4      1STBSRS  07-01-2004           90.0  90.0  90.0           90.0      0

In [75]:
combined_df.to_csv('combined.csv', index=False)